/* only needed in case of using 'ul' 'li'  */
/* text-decoration: none;
list-style: none; */

/* what is need to know */
/*	
	margin
	padding

	".name" -> name is a class
	"name" -> is a HTML tag
*/

/* correct */
* {
	margin: 0;
	padding: 0;
}

.navbar-wrapper {
	width: 100%;
	box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar * {
	list-style: none;
	text-decoration: none;
}

.navbar {
	display: flex;
	height: 100px;
	margin: 0 240px;
	align-items: center;

	/* background-color: red; */
}

.navbar .nav_logo img {
	margin: 0 -100px;
	width: 50px;
}

.navbar .menu * {
	display: flex;
	justify-content: center;
	text-transform: uppercase;
	font-family: Poppins;
	font-weight: bolder;
	font-size:medium;
	color: black;
	gap: 25px;
}

.navbar .buttons {
	display: flex;
	margin-left: auto;
	gap: 15px;
}

.navbar .buttons button {
	display: flex;
	cursor: pointer;
	font-size: small;
	font-family: "Open Sans";
	font-weight:600;
	padding: 5px 20px;
	border-radius: 50px;
	border: 1px solid #000000;
	transition: background-color 0.3s ease;
}

.navbar .buttons .sign_btn button{
	background-color: white;
}


.navbar .buttons .sign_btn button:hover {
	background-color: rgb(227, 227, 227);
}

.navbar .buttons .join_btn button{
	color: white;
	background-color: rgb(0, 0, 0);
}

.navbar .buttons .join_btn button:hover {
	background-color: rgb(68, 68, 68);
}

.navbar .buttons .join_btn button:active {
  background-color: #0056b3; /* Darker color when clicked */
  transform: translateY(2px); /* Optional: A slight "press down" effect */
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); /* Optional: Add shadow when pressed */
}