/* 
    social media
    navbar content
    cpoyraght
*/

.footer-container {
    display: flex;
    height: auto;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding: 30px 0;
    box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.2);
}

.footer-box {
    max-width: 1440px;
	margin: 0 auto;
	width: 100%;
    margin: 0 clamp(10px, 5vw, 64px);

}

.social-media {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.social-media img {
    width: 32px;
}

hr {
    max-width: 1440px;
	margin: 0 auto;
	width: 100%;

    border: none;
    height: 1.5px;
    margin: 30px auto;
    width: 100%;
    opacity: 20%;
    background-color: rgb(108, 108, 108); 
}


/* @media (max-width: 1520px) {
	.footer-box {
		padding: 0 clamp(16px, 4vw, 40px);
	}
} */