
* {
    box-sizing: border-box;
    outline: none;
    padding: 0;
    margin: 0;
}

/* >>> login page navbar */
header .navbar {
    display: flex;
    height: 100px;
    padding: 0 40px;
    align-items: center;

    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

}

header .navbar .navbar_logo img {
    height: 50px;
}

/* ---------------------------------------------------------------------------- */

/* 
	flex-direction: column; ????
*/

.login-page {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-page .sign-msg p {
    color: black;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    font-family: SoDo Sans SemiBold, sans-serif;
}

.sign-msg {
    display: flex;
    padding: 50px 30px;
}

.box {
	display: flex;
	padding: 32px;
	width: 500px;
	height: auto;
    border-radius: 10px;
    box-shadow: 0 5px 10px hsl(0deg 0% 0% / 0.3);
}

.sign-in-box {
	display: flex;
	width: 100%;
	height: auto;
	flex-direction: column;
}

.red-asterisk {
    color: #b40000;
}

.required-field-msg {

    font-size:medium;
    font-weight: lighter;
    font-family: SoDo Sans SemiBold, sans-serif;
}

.sign-in-box .input-group {
    margin-top: 25px;
}

.sign-in-box .input-group input {
    width: 100%;
    padding: 15px;
    border-radius: 8px;
    font-weight:400;
    font-size: 19px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-family: SoDo Sans SemiBold, sans-serif;
    background-color: transparent;
}

.keep-me-signed-in * {
	cursor: pointer;
}

.keep-me-signed-in {
    display: flex;
    padding: 15px 0;
}

.keep-me-signed-in p {
    display: flex;
    font-size: 700;
    padding-left: 10px;
    font-family: "Noto Sans", sans-serif;
}


.keep-me-signed-in .details-msg-btn {
	border: 0;
    font-size: medium;
    font-weight: bold;
    color: #b40000;
    padding-left: 5px;
    text-decoration:underline;
    background-color: transparent;
}

.password_recovery a {
	display: block;
	width: fit-content;
	padding: 5px 0;
	color: #b40000;
	font-size: medium;
	font-family: SoDo Sans SemiBold, sans-serif;
}

.login-form {
    display: flex;
    flex-direction: column;
	position: relative;
	height: 100%;
}

.login-form .sign-in {
    cursor: pointer;
    color: white;
    background-color: #b40000;
    border: none;
    width: fit-content;
    border-radius: 30px;
    font-size: large;
    font-weight: bold;
    padding: 18px 24px;
	margin: 10px;
    align-self: flex-end;
    font-family: SoDo Sans SemiBold, sans-serif;
    box-shadow: 0 5px 10px hsl(0deg 0% 0% / 0.3);
}

.join-now-box {
    display: flex;
    min-height: 300px;
    width:     500px;
    align-items: center;
    justify-content: center;
    padding: 32px 32px;
    text-align: center;
}

.join-now {
    display: flex;
    flex-direction: column ;
    align-items: center;
}

.join-now h2 {
	color: #b40000;
    padding-bottom: 10px;
	text-transform: uppercase;
	font-size: medium;
    font-family: "SoDo Sans SemiBold", sans-serif;
}

.join-now p {
    padding-bottom: 15px;
    font-family: "Noto Sans", sans-serif;

}

.join-now .join-now-btn {
    cursor: pointer;
    color: #b40000;
    border: 1px solid #b40000;
    border-radius: 30px;
    font-size: large;
    font-weight: bold;
    padding: 10px 15px;
    background-color: transparent;
    font-family: "SoDo Sans SemiBold", sans-serif;
}

.join-now .join-now-btn:hover {
    background-color: #ffe3e3;
}

.input-group label {
	font-size: large;
    font-family: "SoDo Sans SemiBold", sans-serif;
}

.input-group label span {
	color: #b40000;
}

/* Dynamic Form Validation style */
.error-msg {
    display: none;
}

.error-msg .error_box {
    display: flex;
    align-items: center;
    padding-top: 5px;
    padding-left: 20px;
    color: #b40000;
    font-family: "SoDo Sans SemiBold", sans-serif;
}

.error-msg img {
    margin-right: 5px;
    width: 20px;
}
/* ---------------------------------- */

