/* promo-rows sections -> <main> */

/* >>> main <<< */
main > * {
    margin-bottom: 25px; /* pushes */
}

main {
    margin: 0 10%;
}

.get-order {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    background-color: #B40000;

    gap: 20px;
}

.get-order p {
    color: white;
    font-size: 19px;
    font-weight: 600;
    font-family: Montserrat, sans-serif;
}

.get-order .start_order_btn a {
    color: white;
    font-size: 18px;
    font-weight: 600;
    padding: 5px 15px;
    border: 2px solid white;
    border-radius: 30px;
    font-family: Montserrat, sans-serif;
    text-decoration: none;
}

.get-order .start_order_btn a:hover {
    background-color: #750000;
}

.promo-row {
    display: flex;
    align-items: center;
    width: 100%;
    height: auto;
    background-color: rgb(0, 99, 66);
}

.promo-image {
    width: 50%;
    height: auto;
}

.promo-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.promo-content {
    width: 50%;
    color: white;
    padding: 5% 5%;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    justify-content: center;
}

.promo-content h5 {
    font-family: Montserrat, sans-serif;
    font-size: 50px;
}

.promo-content p {
    padding: 5%;
    font-size: 25px;
    font-weight: 500;
    font-family: Noto Sans, sans-serif;

    line-height: 1.6;
}

.promo-content .order-btn a {
    color: white;
    padding: 5px 15px;
    border-radius: 30px;
    border: 1px solid white;
    font-size: large;
    font-weight: 600;
    text-decoration: none;
    font-family: Montserrat, sans-serif;
}

.promo-content .order-btn a:hover {
    background-color: #00402b;
}


