/*
	:root{} element -> CSS block to define global variables
	and is a global CSS config file
*/
:root {
	--based-color: #B40000;
	--based-font: "SoDo Sans SemiBold", Helvetica Neue, Helvetica, Arial, sans-serif;
	--basic-font: "Noto Sans", sans-serif

}
