/* THEME
	-> red =  B80000.
	-> white.
	-> black.
*/

body{
	margin: 0px;
	font-family: "SoDo Sans SemiBold", Helvetica Neue, Helvetica, Arial, sans-serif;
}

.navbar {
    background-color: #ffffff;
    height: 100px;
    display: flex;
    align-items: center; /* vertical center */
    padding: 0 20px;

	/* box-shadow: 0 0.005cm 5px rgba(0, 0, 0, 0.25); */
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}

.logo {
    /* height: 50px; */
    height: 50px; /* logo size */
    margin-right: 30px;
	/* left: 50px;
	right: 50px; */
	cx: 31;
	cy: 31;
	display: inline;
}

.navbar ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar li {
    margin: 0 20px;
}

.navbar a {
    color: black;
    text-decoration: none;
    font-weight: 600;
    text-transform: uppercase;
}
