.navbar {
    background-color: #B80000;
    height: 100px;
    display: flex;
    align-items: center; /* vertical center */
    padding: 0 20px;
}

.logo {
    height: 50px; /* logo size */
    margin-right: 30px;
}

.navbar ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar li {
    margin: 0 20px;
}

.navbar a {
    color: black;
    text-decoration: none;
    font-weight: 600;
    text-transform: uppercase;
}

/* my code  */

/* THEME
	-> red =  B80000.
	-> white.
	-> black.
*/

body{
	margin: 0px;
	font-family: "SoDo Sans SemiBold", Helvetica Neue, Helvetica, Arial, sans-serif;
}

.navbar ul{
	list-style-type: none;
	background-color: #ffffff;
	padding: 0px;
	margin: 0px;
	height: 100px;
	display: flex;
	align-items: center;
}

.navbar li{
	margin: 0 20px;
}

.navbar a{
	color: rgb(0, 0, 0);
	text-decoration: none;	/* remove the underline from the text*/
	font-weight: 600;
	text-transform: uppercase;
	font-family: inherit;
	/* font-weight: bold; */
}

.logo {
    height: 50px; /* logo size */
    margin-right: 30px;
	left: 100px;
}


