.navbar ul {
    list-style-type: none;
    background-color: #B80000; /* Starbucks red */
    padding: 0;
    margin: 0;
    height: 100px;
    display: flex;
    align-items: center;
}

.navbar li {
    margin: 0 20px;
}

.navbar a {
    color: black;
    text-decoration: none;
    font-weight: 600;
    text-transform: uppercase;
    font-family: inherit; /* inherit SoDo Sans from body */
}
